<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Portfolio HTML5 Template">
        <meta name="author" content="">

        <!-- Page Title -->
        <title>Portfolio HTML5 Template</title>

        <!-- Favicon and touch Icons -->
        <link href="images/favicon.png" rel="shortcut icon" type="image/png">
        <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
        <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <!-- Lead Style -->
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

	<!-- Preloader -->
	<div class="oculoader">
		<div class="loader"></div>
		<div class="top-side"></div>
		<div class="bottom-side"></div>
	</div>
	<!--PreLoader End-->

    <body class="body_box {% if view_name  == 'main:index' %}dark_mode{% endif %}">
		
		<div class="wrapper">
			<!-- Start Header -->
	        <header id="header" class="header_one">
	            <div class="nav-bar">
					<div class="navigation">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt="logo"></a>
						</div>
						<nav id="flexmenu">
							<div class="nav-inner">
								<ul class="main-menu">
									<li class="menu-item"><a href="index.html">Home</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="index-2.html">Home 2</a></li>
											<li class="menu-item"><a href="index-3.html">Home 3</a></li>
											<li class="menu-item"><a href="index-4.html">Home 4</a></li>
											<li class="menu-item"><a href="index-5.html">Home 5</a></li>
										</ul>
									</li>
									<li class="menu-item active"><a href="#">Gallery</a>
										<ul class="sub-menu">
											<li class="menu-item active"><a href="portfolio-1.html">Portfolio 1</a></li>
											<li class="menu-item"><a href="portfolio-2.html">Portfolio 2</a></li>
											<li class="menu-item"><a href="portfolio-3.html">Portfolio 3</a></li>
											<li class="menu-item"><a href="portfolio-4.html">Portfolio 4</a></li>
											<li class="menu-item"><a href="masonry.html">Portfolio Masonry</a></li>
											<li class="menu-item"><a href="portfolio-single-1.html">Portfolio Single 1</a></li>
											<li class="menu-item"><a href="portfolio-single-2.html">Portfolio Single 2</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">About</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="aboutus-1.html">About Us 1</a></li>
											<li class="menu-item"><a href="aboutus-2.html">About Us 2</a></li>
											<li class="menu-item"><a href="aboutus-3.html">About Us 3</a></li>
											<li class="menu-item"><a href="aboutme.html">About Me</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">Contacts</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="contact-1.html">Contact 1</a></li>
											<li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">Blog</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="blog-1.html">Blog 1</a></li>
											<li class="menu-item"><a href="blog-2.html">Blog 2</a></li>
											<li class="menu-item"><a href="blog-3.html">Blog 3</a></li>
											<li class="menu-item"><a href="blog-single-1.html">Blog Single 1</a></li>
											<li class="menu-item"><a href="blog-single-2.html">Blog Single 2</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#">Pages</a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="elements.html">Elements</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
						<div class="nav-more-info">
							<div class="element">
								<div id="mobile-toggle" class="mobile-btn">
									<span class="toggle_line"></span>
									<span class="toggle_line"></span>
									<span class="toggle_line"></span>
								</div>
								<a href="#" class="search_icon"><i class="fa fa-search"></i></a>
								<div class="search_overlay">
									<span class="closebtn">&times;</span>
									<form class="search-form" action="search.php">
										<input type="text" name="search" class="keyword form-control" placeholder="Search">
										<button type="submit" class="form-control form-control-submit"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
	            </div>

	            <div class="overlaynav">
	                <a href="#" class="overlaynavclose">&times;</a>
	                <nav id="overlaymenu">
	                	<ul class="main-menu">
	                		<li class="menu-item"><a href="index.html">Home</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="index-2.html">Home 2</a></li>
									<li class="menu-item"><a href="index-3.html">Home 3</a></li>
									<li class="menu-item"><a href="index-4.html">Home 4</a></li>
									<li class="menu-item"><a href="index-5.html">Home 5</a></li>
								</ul>
							</li>
							<li class="menu-item active"><a href="#">Gallery</a>
								<ul class="sub-menu">
									<li class="menu-item active"><a href="portfolio-1.html">Portfolio 1</a></li>
									<li class="menu-item"><a href="portfolio-2.html">Portfolio 2</a></li>
									<li class="menu-item"><a href="portfolio-3.html">Portfolio 3</a></li>
									<li class="menu-item"><a href="portfolio-4.html">Portfolio 4</a></li>
									<li class="menu-item"><a href="masonry.html">Portfolio Masonry</a></li>
									<li class="menu-item"><a href="portfolio-single-1.html">Portfolio Single 1</a></li>
									<li class="menu-item"><a href="portfolio-single-2.html">Portfolio Single 2</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">About</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="aboutus-1.html">About Us 1</a></li>
									<li class="menu-item"><a href="aboutus-2.html">About Us 2</a></li>
									<li class="menu-item"><a href="aboutus-3.html">About Us 3</a></li>
									<li class="menu-item"><a href="aboutme.html">About Me</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">Contacts</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="contact-1.html">Contact 1</a></li>
									<li class="menu-item"><a href="contact-2.html">Contact 2</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">Blog</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="blog-1.html">Blog 1</a></li>
									<li class="menu-item"><a href="blog-2.html">Blog 2</a></li>
									<li class="menu-item"><a href="blog-3.html">Blog 3</a></li>
									<li class="menu-item"><a href="blog-single-1.html">Blog Single 1</a></li>
									<li class="menu-item"><a href="blog-single-2.html">Blog Single 2</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="#">Pages</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="elements.html">Elements</a></li>
								</ul>
							</li>
						</ul>
	                </nav>
	            </div>
	        </header>
			
			<div class="inner_body">
				<!-- Page Header -->
		        <div class="page-header type1">
		            <div class="page-header-content text-center">
		                <div class="container">
		                    <h1 class="heading">
		                    	Portfolio
		                    	<span class="icon"><i class="fa fa-camera"></i></span>
		                    </h1>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris <br> massa eleifend et purus vel feugiat rutrum nulla cras vitae est.</p>
		                </div>
		            </div>
		        </div>
			
				<div class="about_image_grid">
					<div class="about_content_box">
						<div class="about_content">
							<div class="about_content_inner">
								<h6>Information</h6>
								<h1>Expert Photographers</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed bibe ndum leo maur massa eleifend et purus vel feugiat rutrum nulla ras vitae est velpsbus fermentum a ultricies urna cum sociis ut valley et. Lorem ipsum dolor sit amet, consectetur adipiscing eli Ut sed biben dum leo maur massa eleifend .</p>
								<div class="button_group">
		                            <a href="http://wpthemebooster.com/demo/themeforest/html/oculus/portfolio-single-1.html" class="button black_button effect_1" data-text="Read More"><span>See Details</span></a>
		                        </div>
							</div>
						</div>
						<div class="aboutus_img"></div>
					</div>

					<div class="about_content_box alt">
						<div class="aboutus_img"></div>
						<div class="about_content">
							<div class="about_content_inner">
								<h6>Information</h6>
								<h1>Wildlife Photography</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed bibe ndum leo maur massa eleifend et purus vel feugiat rutrum nulla ras vitae est velpsbus fermentum a ultricies urna cum sociis ut valley et. Lorem ipsum dolor sit amet, consectetur adipiscing eli Ut sed biben dum leo maur massa eleifend .</p>
								<div class="button_group">
		                            <a href="http://wpthemebooster.com/demo/themeforest/html/oculus/portfolio-single-2.html" class="button black_button effect_1" data-text="Read More"><span>See Details</span></a>
		                        </div>
							</div>
						</div>
					</div>

					<div class="about_content_box">
						<div class="about_content">
							<div class="about_content_inner">
								<h6>Information</h6>
								<h1>Natural Photography</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed bibe ndum leo maur massa eleifend et purus vel feugiat rutrum nulla ras vitae est velpsbus fermentum a ultricies urna cum sociis ut valley et. Lorem ipsum dolor sit amet, consectetur adipiscing eli Ut sed biben dum leo maur massa eleifend .</p>
								<div class="button_group">
		                            <a href="http://wpthemebooster.com/demo/themeforest/html/oculus/portfolio-single-2.html" class="button black_button effect_1" data-text="Read More"><span>See Details</span></a>
		                        </div>
							</div>
						</div>
						<div class="aboutus_img"></div>
					</div>
				</div>
				
			</div>

			<div class="page_title"><span>Portfolio</span></div>
			<footer class="footer">
				<div class="footer_inner">
					<div class="copyright">
						<p> &copy;Oculus 2020. All rights reserved</p>
					</div>
					<div class="social-icon">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
		
        <!-- All JavaScript Files
        ================================================== -->
		<script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.fancybox.min.js"></script>
        <script src="js/swiper.min.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/custom.js"></script>
	</body>
</html>